body { background: #272822; }
pre a { text-decoration: none; color:#F8F8F2; }
pre a:visited { color:#F8F8F2; }
pre a:hover { color:#F8F8F2; text-decoration:underline; }

pre { font-family:'Source Code Pro','Courier New',monospace; font-size:13px; tab-size:4;}

code { color: #F8F8F2; }
code .identifier { color:#F8F8F2; }
code .type { color:#FF9901; }
code .keyword { color:#F92772; }
code .directive { color:#66D9EF; }
code .constant { color:#AE81FF; }
code .comment { color:#75715E; }
code .string { color:#E6DB74; }
code .macro { color:#A6E22A; }
code .inactive { color:#75715E; }
code .num { color:#777777; }

::selection {
	background: #999999;
}

li { list-style:none; }
li a { color:white; }