body { background: #272822; }

code li { list-style:decimal-leading-zero; }
code { color: #F8F8F2; tab-size:4;}
code .identifier { color:#F8F8F2; }
code .type { color:#FF9901; }
code .keyword { color:#F92772; }
code .directive { color:#66D9EF; }
code .constant { color:#AE81FF; }
code .comment { color:#75715E; }
code .string { color:#E6DB74; }
code .macro { color:#A6E22A; }
code .inactive { color:#75715E; }
code .num { color:#777777; }

::selection {
	background: #999999;
}

li { list-style:none; }
li a { color:white; }